{% load staticfiles %}

<html><head>
    <title>Computadoras</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Holtwood One SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Monoton&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div class="comp">    
        <h1 style="font-family: Monoton;">Usuarios detalle 
            </h1>
        <div class="home_comp">  
            <a href="/"  class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-home"></span> Home
            </a>
        <a href="/computadoras/usuarios"  class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-user"></span> Usuarios
              </a>
            </div> 
                    </div>
  

<div class="content container" style="background-color: #A9E2F3;">
  <h3 class='cabeza'><a title="Editar usuario: {{ user.nombre }}  {{ user.apellidos_get }} {{ user.usuario }}" href="{% url 'usuario_update' pk=user.pk %}">
      {{ user.nombre }}  {{ user.apellidos_get }} <span style="font-size:12px; color:#A4A4A4;"> {{ user.cargo }} </span> 
  </a></h3>
  </h3>
  <p><span>No. </span> {{ user.id }} </p>

  <div class="table-responsive">          
    <table class="table" style="font-size: 12px;">
            <thead>
                    <tr>
                      <th></th>
                      <th>Nombre</th>
                      <th>Apellidos</th>
                      <th>Usuario</th>
                       <th>Password</th>
                       <th>Cargo</th>
                       <th>Computadora</th>
                       <th>Departamento</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td> 
                              <img src="{{ user.imagen }}" 
                              alt="{{ user.imagen }}" title="{{ user.imagen }}" 
                              width="150" height="150"/>
                             </td>
                         <td>{{ user.nombre }}</td>
                         <td>{{ user.apellidos }}</td>
                         <td>{{ user.usuario }}</td>
                         <td>{{ user.password }}</td>
                         <td>{{ user.cargo }}</td>
                         <td>
                            <a title="Ir a computadora: {{ user.computadora.bien }}" href="{% url 'comp_detalle' pk=user.computadora.pk %}">
                                {{ user.computadora.bien }} 
                                </a> 
                         </td>
                         <td>{{ user.computadora.departamento.area }}</td>
                        </tr>
                      </tbody>
        </table>
      </div> 

    </div>



</body>
</html>