body{
    background-color:#5858FA;
}

h1 {
    background-color:#5858FA;
    color: #F2F2F2 ;
    margin: 0px;
    margin-left: 110px;
    margin-right: 450px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster';
}

div{
    background-color: #E6E6E6;
}