{% extends 'computadoras/base_comp.html' %}

{% block content %}
  
{% for comp in comps %}
<div class="content container">
  <h3 class='cabeza'><a href="{% url 'comp_detalle' pk=comp.pk %}">{{ comp.bien }}</a></h3>
  <p><span>No. </span> {{ comp.asignar }} </p>
  <p><span>Arendamiento: </span>  {{ comp.arrendado }}</p>

  <!--<div class="table-responsive">          
    <table class="table" style="font-size: 12px;">
      <thead>
        <tr>
          <th>Arrendado</th>
          <th>IP</th>
          <th>Dns</th>
           <th>Red</th>
           <th>Sist.operativo</th>
           <th>Tipo</th>
           <th>Modelo</th>
           <th>Dominio</th>
           <th>M&aacute;quina</th>
           <th>Administrador</th>
           <th>Piso</th>
           <th>&Aacute;rea</th>
           <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td>{{ comp.arrendado }}</td>
             <td>{{ comp.ip }}</td>
             <td>{{ comp.dns }}</td>
             <td>{{ comp.red }}</td>
             <td>{{ comp.operativo }}</td>
             <td>{{ comp.tipo }}</td>
             <td>{{ comp.modelo }}</td>
             <td>{{ comp.dominio }}</td>
             <td>{{ comp.maquina }}</td>
             <td>{{ comp.administrador }}</td>
             <td>{{ comp.ubicacion }}</td>
             <td>{{ comp.departamento.area }}</td>
             <td>{{ comp.actualizar }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->

    </div>
{% endfor %}

{% endblock %}