{% load staticfiles %}
    <html>
        <head>
            <title>computadoras</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        </head>
<body>
    <h1>Computadoras</h1>
    <div id="cabeza">
        <a href="/"  class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-home"></span> Home
          </a></div>
    {% for comp in comps %}
        <div class="content container">
            <h3><a href="#">{{ comp.bien }}</a></h3>
            <p><span>No. </span> {{ comp.asignado }} </p>
            <div class="table-responsive">          
                    <table class="table" style="font-size: 12px;">
                      <thead>
                        <tr>
                          <th>Arrendado</th>
                          <th>IP</th>
                          <th>Dns</th>
                          <th>Red</th>
                          <th>Sist.operativo</th>
                          <th>Tipo</th>
                          <th>Modelo</th>
                          <th>Dominio</th>
                          <th>M&aacute;quina</th>
                          <th>Administrador</th>
                          <th>Piso</th>
                          <th>&Aacute;rea</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ comp.arrendado }}</td>
                          <td>{{ comp.ip }}</td>
                          <td>{{ comp.dns }}</td>
                          <td>{{ comp.red }}</td>
                          <td>{{ comp.operativo }}</td>
                          <td>{{ comp.tipo }}</td>
                          <td>{{ comp.modelo }}</td>
                          <td>{{ comp.dominio }}</td>
                          <td>{{ comp.maquina }}</td>
                          <td>{{ comp.administrador }}</td>
                          <td>{{ comp.ubicacion }}</td>
                          <td>{{ comp.departamento.area }}</td>
                          <td>{{ comp.actualizar }}</td>
                        </tr>
                      </tbody>
                    </table>
                    </div>



        </div>
    {% endfor %}


</body>
</html>