{% load staticfiles %}
    
<html>
        <head>
            <title>Sistema</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Monoton&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        </head>
<body>
    <h1 align="center" style="font-family: Monoton;">Sistema de administración</h1>
    <div id="titulo">
        
                <a href="{% url 'dept_list' %}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-list-alt"></span>Departamentos
            </a>
        
            <a href="{% url 'comp_nueva' %}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-phone"></span>Computadoras
         </a>  
    </div>
</body>
</html>